extends layout
block scripts
  script(src='/js/compare.js')
block content
  mixin sidebar-mixin()
  div.container
    h1.centered Compare
    div.row.margin-20-10
      div.col-md-1
      div#error
      div#select-people.col-md-5
        form
        div.form-group
          label Recruit
          input(type="text").typeahead.form-control#select-recruit
        div.form-group
          label Team Member
          input(type="text").typeahead.form-control#select-team-member
      div#comparison-results.col-md-5
      div.col-md-1
    include sidebar-mixin
