extends layout
block scripts
  script(src='/js/compare.js')
block content
  mixin sidebar-mixin()
  div.container
    h1.title Compare
    div.row.margin-20-10
      div.col-md-1
      div#error
      div.col-md-10
        div#comparison-selection
          div.form-group
            div
              label Recruit
            input(type="text").typeahead.form-control#select-recruit
          div.form-group
            div
              label Team Member
            input(type="text").typeahead.form-control#select-team-member
        div#comparison-results
      div.col-md-1
    include sidebar-mixin
