extends layout
block scripts
    script(src='js/events.js')
block content
  mixin sidebar-mixin()
  mixin top-navbar-mixin()
  div.container.events-container
    h1.title Event Rank
    div.row
      div.col-md-2
      div.col-md-8
        div#event-selection
          div.error#event-error
          div.form-group
            label Event
            div
              select.form-control#select-event
                for e in events
                  option(value=e)= e
              select.form-control.margin-top#select-year
                option(value="") All years
                for y in classYears
                  option(value=y)= y
          div.form-group.inline.margin-right
            label Gender
            div#select-gender
              label.radio-inline
                input(type="radio" value="M" name="gender" checked="checked")
                span Male
              label.radio-inline
                input(type="radio" value="F" name="gender")
                span Female
        div#event-rank
          h2#event-header Event Rank
      div.col-md-2

    include sidebar-mixin
    include top-navbar-mixin
