extends layout
block scripts
    script(src='js/events.js')  
block content
  mixin sidebar-mixin()
  div.container.events-container
    h1.centered Event Rank
    div.row
      div.col-md-1
      div#event-selection.col-md-5
        div.error#event-error
        label Event
        div.form-group
          input.typeahead.form-control(type="text" value="50 Y Free")#select-event
        div.form-group
          label Gender
          div#select-gender
            label.radio-inline
              input(type="radio" value="M" name="gender" checked="checked")
              span Male
            label.radio-inline
              input(type="radio" value="F" name="gender")
              span Female
        div.form-group
          label Include Archived Swimmers?
          div#include-archive
            label.radio-inline
              input(type="radio" value="0" name="archived" checked="checked")
              span No
            label.radio-inline
              input(type="radio" value="1" name="archived")
              span Yes
      div#event-rank.col-md-5
        h2#event-header Event Rank
      div.col-md-1

    include sidebar-mixin
