extends layout

block content
  div.centered.vertical-centered
    h1 StalkMyRecruit
    form(name="login", action="/authenticate", method="post", id="login-form")
        if error
            h4=error
        div.form-group
            h3 Enter Password
            p (much sophisticated very security wow)
            input(type="password", name="password", id="login-password").form-control
        button(type="submit").btn.btn-default.btn-lg.submit-login Submit
