mixin navbar-mixin()
  nav.navbar.default.navbar-fixed.top
    div.container-fluid.navbar-container
      ul.nav.navbar-nav.navbar-right
        li#event-link
          a(href="/events") Rank By Event
        li#recruits-link
          a(href="/recruits") All Recruits
        li#logout-link
          a(href="#") Logout

