mixin navbar-mixin()
  nav.navbar.default.navbar-fixed.top
    div.container-fluid.navbar-container
      ul.nav.navbar-nav.navbar-right
        li#event-link
          a(href="/events") Event Rank
        li#recruits-link
          a(href="/recruits") Recruits
        li#archived-recruits-link
          a(href="/recruits/archived") Archived
        li#logout-link
          a(href="#") Logout

