extends layout
block scripts
    script(src='js/helpers.js')
    script(src='js/recruitsListener.js')  
block content
  mixin navbar-mixin()
  div.container
      div#add-recruit.centered
        h2 Add a new recruit
        div#new-recruit-error.error
        form(name="login", id="add-recruit-form")
            div.form-group
                label CollegeSwimming ID Number
                input(type="text", name="csId", id="new-csId").form-control
            div.form-group
                div.radio
                    label.margin-right Gender:
                    label.margin-right
                        input(type="radio" name="gender" value="M")
                        | Male
                    label
                        input(type="radio" name="gender" value="F")
                        | Female
            button.btn.btn-default#create-recruit-btn Submit
      div#recruits
        div.centered
            button.btn.btn-lg#update-all-btn Update All Recruits
        div.row
            div.col-md-1
            div#maleRecruits.col-md-5
                h2 Male
                for m in maleRecruits
                    mixin recruit-mixin(m)
            div#femaleRecruits.col-md-5
                h2 Female
                for f in femaleRecruits
                    mixin recruit-mixin(f)
            div.col-md-1
    include recruit-mixin
    include navbar-mixin
