mixin sidebar-mixin()
  div#sidebar
    div#sidebar-toggle.right-float
      span.icon-bar
      span.icon-bar
      span.icon-bar
    div#items
      a(href="/recruits")
        div#recruits-link.item
          span Recruits
      a(href="/compare")
        div#compare-link.item
          span Compare
      a(href="/events")
        div#events-link.item
          span Event Rank
      a(href="/#")
        div#logout-link.item
          span Logout
