mixin sidebar-mixin()
  div#sidebar
    div.items
      a(href="/recruits")
        div#recruits-link.item
          span Recruits
      a(href="/compare")
        div#compare-link.item
          span Compare
      a(href="/events")
        div#events-link.item
          span Event Rank
      a
        div.logout-link.item
          span Logout
