@Lato {
    font-family: Lato;
    src: url('http://fonts.googleapis.com/css?family=Lato:700,300,300italic');
}
* {
  font-family: Lato, "Lucida Grande", Helvetica, Arial, sans-serif;
  font-weight:300;
  font-size: 16px;
}
a {
  color: #52B3D9;
  text-decoration: none!important;
}

hr { margin: 2px; }

.btn {
  border-radius: 0;
}

.hr-margin { margin-top:20px; }

.btn{
  text-transform: uppercase;
}

.uppercase {
  text-transform: uppercase;
}

input.form-control {
  border-radius: 0px;
}

th{
  font-weight:700;
  background-color: #f9f9f9;
}

h1 {
  font-weight: 700;
}

th, td {
  padding: 10px;
  border: 1px solid #D8E6E6;
}

.center-align {
  text-align: center;
}

.right-align{
  text-align: right;
}

.left-align {
  text-align: left;
}

.right-float {
  float: right;
}

.container {
  margin: auto;
  padding-left:245px;
  margin-bottom: 50px;
  padding-top: 100px;
}

.no-padding {
  padding:0px;
}

.max-width-800 {
  max-width: 800px;
}

.centered {
  margin: auto;
  width: 50%;
  text-align: center;
}

.title {
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
  width: 70%;
}

.margin-right-5 {
    margin-right: 5px;
}

.margin-right {
    margin-right: 10px;
}

.margin-bottom {
  margin-bottom: 10px;
}

.margin-top{
  margin-top: 10px;
}

.margin-20-10 {
  margin: 20px 10px;
}

.vertical-centered{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

.btn-default{
  color: #fff;
  background-color: #ccc;
  -webkit-transition: background-color 0.5s;
}

.btn-default:hover{
  color: #fff;
  background-color: #999;
}

.typeahead {
  width: 400px;
  height: 40px;
  font-size: 16px;
}

.tt-hint, .tt-suggestion {
  color: #7D8D8D;
}

.tt-selectable {
  cursor: pointer;
}

.tt-highlight {
  color: #00b5ad;
}

.tt-open {
  margin-top: 10px;
  background-color: #fff;
  padding:10px;
  width: 400px;
  font-size:16px;
  border: 1px solid #ccc;
  border-radius:5px;
  max-height: 150px;
  overflow-y: auto;
}

.circular-btn {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}

.sm-circular-btn {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  background-color: inherit;
  color: #ccc;
  border: 1px solid #ccc;
}

.inline{
  display: inline-block;
  padding-right: 5px;
}

select {
  height: 40px!important;
  font-size: 16px;
}

/* Login */
.login-container{
  max-width: 500px;
}

.title {
  font-size: 3em;
}

/*Recruits*/
table{
    width: 100%;
}

.sorting, .sorting_asc, .sorting_desc {
  cursor: pointer;
}

.action-label span{
  font-size: 12px!important;
  font-weight: 700;
  visibility: hidden;
  color: #00b5ad;
}

.action {
  text-align: center;
  width: 60px;
}

.action-btn {
  background: #fff;
  white-space:normal;
  color: #ccc;
  border: 1px solid #ccc;
  text-align:center;
}

.action-btn:hover, .action-btn:active, .action-btn:focus {
  color: #00b5ad;
  border: 2px solid #00b5ad;
}

.action-btn:hover ~ .action-label span {
  visibility:visible;
}

.main-btn {
  margin: auto;
  margin-right: 5px;
  margin-top: 5px;
  background-color: #fff;
  border: 1px solid #019875;
  color: #019875;
  text-transform: uppercase;
  -webkit-transition: color 1s;
  -webkit-transition: background-color 1s;
}

.main-btn:hover, .main-btn:focus, .main-btn:active{
  color: #fff;
  background-color: #019875;
}

.recruit-row:hover{
  cursor: pointer;
  background-color: #f9f9f9;
}

.recruit-container{
    border-top: 1px solid #D8E6E6;
    margin: 20px;
    width: 350px;
}

.default-btn:hover, .default-btn:focus {
  color: #000;
  border: 2px solid #000;
}

.default-btn ~ .action-label span {
  color: #000;
}

.circular-delete-btn:hover {
  color: #db2828;
  border: 2px solid #db2828;
}

.delete-btn{
  margin: 10px 10px 10px 0;
  -webkit-transition: background-color 0.5s;
}

.archive-btn, .unarchive-btn{
  margin: 10px 10px 10px 0;
}

.are-you-sure, .are-you-sure-archive, .add-manual-time{
  display: none;
}

.error{
    color: #CF000F;
    font-size: 20px;
}

.title-404 {
  font-size: 8em;
}

.update-btn{
  background-color: #019875;
  color: #fff;
  opacity: .7;
  -webkit-transition: opacity 0.5s;
}

td:hover .delete-time-btn{
  visibility: visible;
  color: #d9534f;
}

.update-btn:hover, .update-btn:focus, .update-btn:active{
  color: #fff;
  opacity: 1;
}

/*Events*/
#event-selection{
  width: 400px;
  margin: auto;
}

#include-archived {
  display: inline-block;
  float: right;
}

/*
Sidebar
*/

#sidebar {
  height: 100%;
  position: fixed;
  background: #00b5ad;
  color: #fff;
  width: 245px;
  z-index: 999;
  overflow: auto;
  transition: all 0.25s linear;
}

#sidebar .item {
  width: 100%;
  padding: 16px;
  -webkit-transition: border-bottom,.5s,linear;
  border-bottom: 1px solid #65C6BB;
}

#sidebar-toggle .icon-bar {
  background-color: #fff;
  margin-top:4px;
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}

#sidebar-toggle {
  height: 40px;
  margin: 15px;
}

#sidebar-toggle:hover {
  cursor:pointer;
}

#recruits-link {
  border-top: 1px solid #65C6BB;
}

#sidebar a .item span{
  color: #A2DED0;
  font-size:16px;
}

#sidebar .item:hover{
  cursor:pointer;
  background-color: #009c95;
}

#sidebar .item:hover span{
  text-decoration: none;
  color: #fff;
}

#sidebar .item:active, #sidebar .item.active {
  cursor:pointer;
  background: #65C6BB;
  border-bottom: 5px solid #A2DED0;
}

#sidebar .item.active span {
  color: #fff;
}

.collapsed {
  width: 50px!important;
}

#items {
  margin-top:200px;
}

/*Single recruit page*/
.recruit-info strong, .recruit-info span{
  font-size: 16px;
}

.recruit-info {
  border: 1px solid #D8E6E6;
  padding: 30px;
}

.recruit-title {
  font-weight: 700;
}

.times-table-wrapper {
  background-color: #fff;
}

.update-form-container {
  display: none;
}

.archived-label {
  float: right;
  margin-right:10px;
}

.team-rank {
  cursor: pointer;
}

.glyphicon-envelope, .glyphicon-user {
  color: #00b5ad;
}

.stats {
  float: right;
}

.small-label{
  font-size: 12px!important;
  font-weight:700;
  color: #00b5ad;
}

.stat {
  text-align: center;
}

.stat-value {
  margin-top:0px;
}

.btn-group .btn-default {
  background-color: #fff;
  color: #000;
}

.btn-group .btn-default:hover {
  background-color: #f9f9f9;
}

.time-edit {
  max-width: 200px;
}

.time-edit input {
  width: 100px;
}

.circular-update-btn:hover, .circular-update-btn:focus {
  color: #00b5ad;
  border: 2px solid #00b5ad;
}

.updateable-information {
  margin-top:30px;
}

.comments {
  margin-top:30px;
  max-width:315px;
}

#new-time-event {
  width: 135px;
}

#new-time-input {
  height: 40px;
  font-size: 16px;
}

.times .action {
  float: right;
  clear: right;
}

.times {
  padding-top: 30px;
  clear: both;
}
/*Comparison page*/
.compare-row:hover {
  background-color: #52B3D9;
  cursor: pointer;
}

.faster {
  font-weight: 700;
}

th {
  background-color: #f9f9f9;
}

#comparison-selection {
  margin:auto;
  width: 400px;
}

@media (max-width: 768px) {
  .container {
    padding-left: 60px;
  }
}

@media screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2){
  .inline{
    display: inline-block;
    margin-bottom: 5px;
  }

  #main-title {
    font-size: 2em;
  }

  .recruit-container {
    width: 92%;
  }

  .recruit-title {
    font-size: 24px;
  }

  .centered{
    width: 90%;
  }

  .modal {
    width: 80%;
  }

  #include-archived {
    display: block;
    float: none;
  }

  .float-right {
    float: left;
  }

  .typeahead, .tt-open {
    width: 260px!important;
  }

  #new-time-event {
    width: 100px!important;
    font-size: 14px!important;
  }

  #new-time-input {
    width: 80px!important;
  }

  .events-container{
    margin-bottom: 100px;
  }
}
