@Lato {
    font-family: Lato;
    src: url('http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext');
}
* {
  font-family: Lato, "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size:14px;
}
a {
  color: #52B3D9;
}

a:hover, a:active, a:focus{
    text-decoration: none;
}

hr { margin: 2px; }

.hr-margin { margin-top:20px; }

.btn{
  text-transform:uppercase;
}

.uppercase {
  text-transform:uppercase;
}

th{
  text-transform:uppercase;
}

.container {
  margin:auto;
  margin-bottom:50px;
}

.max-width-600 {
  max-width:600px;
}

.centered {
    margin:auto;
    width:50%;
    text-align: center;
}

.margin-right-5 {
    margin-right:5px;
}

.margin-right {
    margin-right:10px;
}

.margin-bottom {
  margin-bottom:10px;
}

.margin-top{
  margin-top:10px;
}

.vertical-centered{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

.btn-default{
  -webkit-transition: background-color 0.5s;
}
.btn-default:hover{
  background-color:#BDC3C7;
}

/* Login */
.login-container{
  max-width:500px;
}

.title {
  font-size:3em;
}

/*Recruits*/
table{
    width:100%;
}

.main-btn {
  margin: auto;
  margin-right:5px;
  margin-top:5px;
  background-color: #FFFFFF;
  border: 1px solid #019875;
  color: #019875;
  text-transform: uppercase;
  -webkit-transition: color 1s;
  -webkit-transition: background-color 1s;
}

.main-btn:hover, .main-btn:focus, .main-btn:active{
  color:#FFFFFF;
  background-color: #019875;
}

#add-recruit, #years{
    width:350px;
    background-color:#FAFAFA;
    border: 1px solid #D8E6E6;
    border-radius:10px;
    padding:20px;
}

.recruit-container{
    border-top: 1px solid #D8E6E6;
    margin:20px;
    width:350px;
}

.delete-btn{
  margin: 10px 10px 10px 0;
  -webkit-transition: background-color 0.5s;
}

.archive-btn, .unarchive-btn{
  margin: 10px 10px 10px 0;
}

.are-you-sure, .are-you-sure-archive, #are-you-sure-archive-all, .add-manual-time{
  display:none;
}

.error{
    color: #CF000F;
    font-size: 20px;
}

.inline{
  display:inline-block;
  padding-right:5px;
}

#recruits{
  margin-top: 50px;
}

.title-404 {
  font-size:8em;
}

.update-btn{
  background-color: #019875;
  color:#FFFFFF;
  opacity:.7;
  -webkit-transition: opacity 0.5s;
}

.delete-time-btn{
  width: 20px;
  height: 20px;
  visibility: hidden;
  float: right;
  border: none;
  background:none;
}

td:hover .delete-time-btn{
  visibility:visible;
  color: #d9534f;
}

.update-btn:hover, .update-btn:focus, .update-btn:active{
  color:#FFFFFF;
  opacity:1;
}

/*Events*/
#event-selection{
  padding-right:20px;
}

td, th{
  font-size: 16px;
  padding:5px;
}
/*Navbar*/
.navbar li a{
  font-size:16px;
  color: #000000; 
}

.navbar li a:hover{
  background-color:#FAFAFA;
  color:#019875;
}
.navbar-container{
  border-bottom: 1px solid #D8E6E6;
  background-color:#FAFAFA;
  height:55px;
  margin-bottom:50px;
}

.navbar-nav > li > a {
  padding: 15px 7px;
}

#logout-link{
  margin-right:30px;
}

/*Single recruit page*/
.recruit-info strong, .recruit-info span{
  font-size:16px;
}

.recruit-info {
  border: 1px solid #D8E6E6;
  border-radius:10px;
  padding:30px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.times-table-wrapper {
  background-color: #FFFFFF;
  border-radius:5px;
  border: 1px solid #D8E6E6;
}

.update-form-container {
  display: none;
}

.archived-label {
  float:right;
}

.teamRank {
  cursor: pointer;
}

/*Comparison page*/
.compare-row:hover {
  background-color: #52B3D9;
  cursor:pointer;
}

th {
  background-color: #f9f9f9;
}

@media (max-width: 768px) { 
  .navbar-collapse.collapse {
    display: block!important;
  }

  .navbar-nav>li, .navbar-nav {
    float: left !important;
  }

  .navbar-nav.navbar-right:last-child {
    margin-right: -15px !important;
  }

  .navbar-right {
    float: right!important;
  }
}

@media screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2){
  .inline{
    display:inline-block;
    margin-bottom:5px;
  }
  .recruit-container {
    width:92%;
  }
  .centered{
    width:90%;
  }

  .events-container{
    margin-bottom:100px;
  }
}
